<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taller.jandroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.VIBRATE" >       
    </uses-permission>

    <application
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:name="persistance.Jungle"
        android:allowBackup="true">
        <activity
            android:name=".SplashScreen"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <action android:name="com.taller.jandroid.MainActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IndieIntroducing"
            android:label="@string/title_activity_indie_introducing"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TranslatePlane"
            android:label="@string/title_activity_translate_plane"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ArrivingJungle"
            android:label="@string/title_activity_arriving_jungle"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ShadowActivity"
            android:label="@string/title_activity_shadow"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PresentationActivity"
            android:label="@string/title_activity_presentation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AnimalPresentationActivity"
            android:label="@string/title_activity_animal_presentation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PresentationBorneoActivity"
            android:label="@string/title_activity_presentation_borneo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GoodbyeActivity"
            android:label="@string/title_activity_goodbye"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SoundActivity"
            android:label="@string/title_activity_sound"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ChooseAnimalsJungleActivity"
            android:label="@string/title_activity_choose_animals_jungle"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SplitAnimalActivity"
            android:label="@string/title_activity_split_animal"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SayGoodbyeActivity"
            android:label="@string/title_activity_say_goodbye"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FeedingActivity"
            android:label="@string/title_activity_feeding" 
            android:screenOrientation="portrait" >
        </activity>
        
    </application>

</manifest>